
<section class="content-header"></section>
<section class="content">
	<section class="invoice">
	
		{{form.valid}}
		{{form.value | json}}
	
		<form #form="ngForm" novalidate>
			<div class="row">
				<div class="col-xs-12">
					<h2 class="page-header">
						<i class="fa fa-shopping-cart"></i> Finalize o seu pedido
					</h2>
				</div>
			</div>
			<div class="row invoice-info">
				<div class="col-xs-12">
					<p class="lead">Endereço de Entrega:</p>
				</div>
				<div class="col-sm-6 col-xs-12" >
					<mt-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Endereço">
						<input name="address" ngModel required  minlength="5" class="form-control"  placeholder="Endereço" autocomplete="false">
					</mt-input-container>
				</div>
				<div class="col-sm-3 col-xs-6" >
					<mt-input-container errorMessage="Obrigatório e Somente Números">
						<input type="text" name="number" ngModel  required  class="form-control" placeholder="Número" autocomplete="false" pattern="^[0-9]*$">
					</mt-input-container>
				</div>
				<div class="col-sm-3 col-xs-6">
					<mt-input-container>
						<input type="text" name="optionalAddress" ngModel class="form-control" id="inputSuccess" placeholder="Complemento" autocomplete="false">												
					</mt-input-container>
				</div>
			</div>
			<!-- /.row -->

			<!-- Table row -->
			<div class="row">
				<div class="col-xs-12">
					<p class="lead">Itens do Pedido:</p>
				</div>
				<mt-order-itens [itens]="cartItems()" 
					(increseQty)="increaseQty($event)"
					 (decreseQty)="decreaseQty($event)"
					 (remove)="remove($event)">
				</mt-order-itens>
				<!-- /.col -->
			</div>
			<!-- /.row -->

			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<p class="lead">Formas de Pagamento:</p>
					<div class="form-group">
						<mt-radio [options]="paymentOptions" name="paymentOption" ngModel required></mt-radio>
					</div>
				</div>
				
				<div class="col-sm-6 col-xs-12">
					<p class="lead">Frete e Total:</p>
					<mt-delivery-costs [delivery]="delivery"  [itemsValue]="itemsValue()" ></mt-delivery-costs>
				</div>
			</div>
		</form>

		<div class="row">
			<div class="col-xs-12">
				<button (click)="checkOrder(form.value)" class="btn btn-success pull-right" [disabled]="!form.valid || cartItems().length === 0">
					<i class="fa fa-credit-card"></i> Concluir Pedido 
				</button>
			</div>
		</div>

	</section>
</section>